<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="/home">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>INICIO</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Nav Item - Tables -->
    <li class="nav-item">
        <a class="nav-link" href="/avisos" target="_blank">
            <i class="fas fa-fw fa-bell"></i>
            <span>Avisos</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/clients">
            <i class="fas fa-users"></i>
            <span>Listado de Clientes</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/pets">
            <i class="fas fa-paw"></i>
            <span>Listado de Mascotas</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="/mail">
            <i class="fas fa-envelope"></i>
            <span>Enviar Correo</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>